[submodule ".registry"]
	path = .registry
	url = https://github.com/phylotastic/universe
	shallow = true
	branch = HEAD
[submodule "phrapl"]
	path = phrapl
	url = https://github.com/bomeara/phrapl
	shallow = true
	registered = true
[submodule "dentist"]
	path = dentist
	url = https://github.com/bomeara/dentist
	shallow = true
	registered = true
[submodule "sisters"]
	path = sisters
	url = https://github.com/bomeara/sisters
	shallow = true
	registered = true
[submodule "hisse"]
	path = hisse
	url = https://github.com/thej022214/hisse
	shallow = true
	registered = true
[submodule "corHMM"]
	path = corHMM
	url = https://github.com/thej022214/corHMM
	shallow = true
	registered = true
[submodule "OUwie"]
	path = OUwie
	url = https://github.com/thej022214/OUwie
	shallow = true
	registered = true
[submodule "sleq"]
	path = sleq
	url = https://github.com/bomeara/sleq
	shallow = true
	registered = true
[submodule "datelife"]
	path = datelife
	url = https://github.com/phylotastic/datelife
	shallow = true
	registered = true
[submodule "AnnotationBustR"]
	path = AnnotationBustR
	url = https://github.com/sborstein/AnnotationBustR
	shallow = true
	registered = true
[submodule "dietr"]
	path = dietr
	url = https://github.com/sborstein/dietr
	shallow = true
	registered = true
[submodule "MonoPhy"]
	path = MonoPhy
	url = https://github.com/oschwery/MonoPhy
	shallow = true
	registered = true
[submodule "BoskR"]
	path = BoskR
	url = https://github.com/oschwery/BoskR
	shallow = true
	registered = true
[submodule "selac"]
	path = selac
	url = https://github.com/bomeara/selac
	shallow = true
	registered = true
[submodule "treevo"]
	path = treevo
	url = https://github.com/bomeara/treevo
	shallow = true
	registered = true
[submodule "rphylotastic"]
	path = rphylotastic
	url = https://github.com/phylotastic/rphylotastic
	shallow = true
	registered = true
[submodule "phylobot"]
	path = phylobot
	url = https://github.com/phylotastic/phylobot
	shallow = true
	registered = true
[submodule "flipped"]
	path = flipped
	url = https://github.com/bomeara/flipped
	shallow = true
	registered = true
[submodule "phylotaR"]
	path = phylotaR
	url = https://github.com/ropensci/phylotaR
	shallow = true
	registered = true
[submodule "rnsf"]
	path = rnsf
	url = https://github.com/bomeara/rnsf
	shallow = true
	registered = true
[submodule "closesamples"]
	path = closesamples
	url = https://github.com/bomeara/closesamples
	shallow = true
	registered = true
[submodule "BMhyb"]
	path = BMhyb
	url = https://github.com/bomeara/BMhyb
	shallow = true
	registered = true
[submodule "popularitree"]
	path = popularitree
	url = https://github.com/bomeara/popularitree
	shallow = true
	registered = true
[submodule "yearn"]
	path = yearn
	url = https://github.com/bomeara/yearn
	shallow = true
	registered = true
[submodule "RateViz"]
	path = RateViz
	url = https://github.com/bomeara/RateViz
	shallow = true
	registered = true
[submodule "laser"]
	path = laser
	url = https://github.com/cran/laser
	shallow = true
	registered = true
[submodule "phybase"]
	path = phybase
	url = https://github.com/cran/phybase
	shallow = true
	registered = true
[submodule "P2C2M"]
	path = P2C2M
	url = https://github.com/cran/P2C2M
	shallow = true
	registered = true
[submodule "rotl"]
	path = rotl
	url = https://github.com/ropensci/rotl
	shallow = true
	registered = true
[submodule "extendedSurface"]
	path = extendedSurface
	url = https://github.com/mongiardino/extendedSurface
	shallow = true
	registered = true
[submodule "diversitree"]
	path = diversitree
	url = https://github.com/richfitz/diversitree
	shallow = true
	registered = true
[submodule "geiger"]
	path = geiger
	url = https://github.com/mwpennell/geiger-v2
	shallow = true
	registered = true
[submodule "phylobase"]
	path = phylobase
	url = https://github.com/fmichonneau/phylobase
	shallow = true
	registered = true
[submodule "bayou"]
	path = bayou
	url = https://github.com/uyedaj/bayou
	shallow = true
	registered = true
[submodule "FishPhyloMaker"]
	path = FishPhyloMaker
	url = https://github.com/GabrielNakamura/FishPhyloMaker
	shallow = true
	registered = true
[submodule "FossilSim"]
	path = FossilSim
	url = https://github.com/fossilsim/fossilsim
	shallow = true
	registered = true
[submodule "RRphylo"]
	path = RRphylo
	url = https://github.com/pasraia/RRphylo
	shallow = true
	registered = true
[submodule "Rphylopars"]
	path = Rphylopars
	url = https://github.com/ericgoolsby/Rphylopars
	shallow = true
	registered = true
[submodule "TreePar"]
	path = TreePar
	url = https://github.com/tanja819/TreePar
	shallow = true
	registered = true
[submodule "TreeSim"]
	path = TreeSim
	url = https://github.com/tanja819/TreeSim
	shallow = true
	registered = true
[submodule "dispRity"]
	path = dispRity
	url = https://github.com/TGuillerme/dispRity
	shallow = true
	registered = true
[submodule "evobiR"]
	path = evobiR
	url = https://github.com/coleoguy/evobir
	shallow = true
	registered = true
[submodule "hillR"]
	path = hillR
	url = https://github.com/daijiang/hillR
	shallow = true
	registered = true
[submodule "hilldiv"]
	path = hilldiv
	url = https://github.com/anttonalberdi/hilldiv
	shallow = true
	registered = true
[submodule "nichevol"]
	path = nichevol
	url = https://github.com/marlonecobos/nichevol
	shallow = true
	registered = true
[submodule "nodeSub"]
	path = nodeSub
	url = https://github.com/thijsjanzen/nodeSub
	shallow = true
	registered = true
[submodule "pmc"]
	path = pmc
	url = https://github.com/cboettig/pmc
	shallow = true
	registered = true
[submodule "ratematrix"]
	path = ratematrix
	url = https://github.com/Caetanods/ratematrix
	shallow = true
	registered = true
[submodule "secsse"]
	path = secsse
	url = https://github.com/rsetienne/secsse
	shallow = true
	registered = true
[submodule "sensiPhy"]
	path = sensiPhy
	url = https://github.com/paternogbc/sensiPhy
	shallow = true
	registered = true
[submodule "treedata.table"]
	path = treedata.table
	url = https://github.com/ropensci/treedata.table
	shallow = true
	registered = true
[submodule "treeplyr"]
	path = treeplyr
	url = https://github.com/uyedaj/treeplyr
	shallow = true
	registered = true
[submodule "phangorn"]
	path = phangorn
	url = https://github.com/KlausVigo/phangorn
	shallow = true
	registered = true
[submodule "phylolm"]
	path = phylolm
	url = https://github.com/lamho86/phylolm
	shallow = true
	registered = true
[submodule "restez"]
	path = restez
	url = https://github.com/ropensci/restez
	shallow = true
	registered = false
[submodule "spptest"]
	path = spptest
	url = https://github.com/myllym/spptest
	shallow = true
	branch = no_fastdepth
	registered = false
[submodule "treeman"]
	path = treeman
	url = https://github.com/dombennett/treeman
	shallow = true
	registered = false
